:root{
    --corprimaria: #515050;
    --corsecundaria: #808080;
    --corterciaria: #000000;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 60px;
    background-color: rgb(90, 90, 90);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    background-color: rgb(68, 70, 70);
}
nav{
    display: flex;
    justify-content: end;
    gap: 25px;
    padding-right: 25px;
}
a{
    color: var(--corsecundaria);
}

main {
    background-color: rgb(90, 90, 90);
    margin-bottom: 50px;
    padding-bottom: 60px;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(58, 57, 57);
}

div {
    text-align: center;
    font-size: 18px;
}

#minha-foto {
    width: 300px;
    border-radius: 100%;
    margin: 20px;
    box-shadow: 10px 10px 10px var(--corterciaria);
    background-color: var(--corprimaria);
    transition: 200ms;
}

#minha-foto:hover{
    transform: scale(1.05);
}

.Sobre-mim {
    display: flex;
    margin: 100px;
    justify-content: center;
}

#texto-sobre-mim {
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    font-size: 20px;
    border: 1px solid #212227;
    border-radius: 50px;
    background-color: #38383a;
    box-shadow: 10px 10px 10px var(--corterciaria);
    transition: 200ms;
}

#texto-sobre-mim:hover{
    transform: scale(1.05);
}

p {
    margin: 0px;
    padding: 0px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 30px;

    width: 1000px;
    flex-wrap: wrap;
    margin: 0 auto;

}

.item {
    min-height: 200px;
    width: 300px;
    border: 2px solid black;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px var(--corterciaria);
    transition: 300ms;
    border-radius: 3%;
}

.item:hover{
    transform: scale(1.05);
}

.item-img1 {
    width: 100%;
}

.item-img2 {
    width: 70%;
}

.item-img3 {
    width: 180%;
}
.footer-itens{
    font-size: 20px;
    display: flex;
    justify-content: space-between;

}

.img-link{
    height: 40px;
}

.Contato{
    padding-bottom: 100px;
}