body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 60px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(68, 70, 70);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

main {
    background-color: rgb(126, 125, 125);
    margin-bottom: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(58, 57, 57);
}

div {
    text-align: center;
    font-size: 18px;
}

#minha-foto {
    width: 300px;
    border-radius: 100%;
}

.Sobre-mim {
    display: flex;
    margin: 100px;
    justify-content: center;
}

#texto-sobre-mim {
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    font-size: 20px;
    border: 1px solid #212227;
    border-radius: 50px;
    background-color: #38383a;
}

p {
    margin: 0px;
    padding: 0px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 10px;

    width: 1000px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.item {
    min-height: 200px;
    width: 300px;
    border: 2px solid black;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-img1 {
    width: 100%;
}

.item-img2 {
    width: 70%;
}

.item-img3 {
    width: 180%;
}
.footer-itens{
    font-size: 20px;
    display: flex;
    justify-content: space-between;

}

.img-link{
    height: 40px;
}

.Contato{
    padding-bottom: 100px;
}