body {
  font-family: Arial, sans-serif;
  background-color: #F7F7FF;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

#overlay.show-modal {
  display: flex;
}

#modal {
  background: #CBCBCD(249, 248, 248);
  padding: 30px;
  width: 360px;
  text-align: center;
  border: 2px solid #ccc;
}

#mensagem {
  color: red;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}
