html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  background-color: #000000;
=======
>>>>>>> 51cca6cd04177c7c6542c3179b6139f36311ea28
}

#codigo {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
