body {
  font-family: Arial, sans-serif;
}

#conteudo {
  width: 400px;
  margin: 20px auto;
}

.item {
  background: #eee;
  padding: 15px;
  margin: 10px 0;
}

#loading {
  text-align: center;
  padding: 20px;
  display: none;
}
