body {
    font-family: Arial, sans-serif;
    background-color: #E4DFDA;
    padding: 20px;
}

#todo-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

#task-input {
    flex: 0.2;
    padding: 5px;
    font-size: 10px;
}

#todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
h1{
    display: flex;
    justify-content: center;
}

button{
    color: #0000EE;
}

