body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.tabs {
    margin-bottom: 20px;
}

.tab-btn {
    padding: 10px 15px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    margin-right: 5px;
    font-size: 16px;
}

.tab-btn:hover {
    background-color: #ccc;
}


.active {
    background-color: #4CAF50;
    color: white;
}


.tab-content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
}


.show {
    display: block;
}
