body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

h1{
  text-align: center;
}

input[type="text"] {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 300px;
  font-size: 16px;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #fff;
}

td{
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #000000;
  color: white;
}

tr{
  background-color: #f9f9f9;
}
